@media screen and (max-width: 1200px) {
	#slides ul li .slider-data h2{
		font-size: 64px;
	}
.single-head .entry-header h1.entry-title{
	font-size: 48px;
}	
}

@media screen and (max-width: 991px) {

ul#norman{ 
	display: none;
}

.slicknav_menu{
	display: block;
}
	#slides ul li .slider-data h2{
		font-size: 48px;
	}	

}

@media screen and (max-width: 768px) {

	#slides ul li .slider-data h2{
		font-size: 36px;
	}	

	.entry-header h1.entry-title,
	.single-head .entry-header h1.entry-title,
	.page-header h1.page-title{
		font-size: 28px;
	}

	#comments h2.comments-title, #comments #respond h3{
		font-size: 24px;
	}

	.section-single .post, .section-single .page{
		padding:0px 20px;
	}
	.entry-header .entry-meta{
		font-size: 14px;
	}
	#comments{
		padding: 0px 20px;
	}
	#footer-widgets .widget h1.widget-title{
		font-size: 24px;
	}
}