/* Spacing , Lets now define some default spacing for section */

/*   Spacing, Lets define few cards spacing   */


.card_holder {

    padding: 0;
    margin-bottom: 30px;
}

.card {

    position: relative;
}

.card_info_holder {

    padding: 40px 20px;
    margin: 0;
}

.km_custom_widget {

	margin-bottom:60px;

}

.km_section_spacing {

	margin-bottom:60px;
}

