a.button {
 	display: inline-block;
	position: relative;
	padding: 14px 26px;
	margin-bottom: .25em;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 1.2;
	outline: 0;
	border: 2px solid #333;
	color: #333;
	text-shadow: none;
	background: none;
	border-radius: 0;
}

a.button:hover {
 	color: #fff;
	background-color: #333;
	border-color: transparent;
}

a.button:active {
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
}

.button + .button {
    margin-left: 1.4em;
}